 
 
 body{background-color: #F08080}
 #container{margin:auto}
 #time{float:left;margin-right:25px;margin-left:30px;color:#2F4F4F;}
 #title {background-color:yellowgreen; text-align: center;}
 
#ten {padding-top:5px}
#eleven {padding-top:6px}
#twelve {padding-top:5px;}
#one {padding-top:4px}
#two {padding-top:4px}
#three {padding-top:5px}
#four {padding-top:4px}